<!-- Wrap your main content inside a div with the class 'background-image' -->
<div class="background-image">
  <div *ngIf="isLoading" class="flex justify-center items-center mt-16">
    <img src="assets/frying-pan.gif" alt="Loading..." class="h-[100px]">
  </div>
  
  <div class="flex justify-center flex-col items-center mt-16 mb-2" *ngIf="data && data.length">
    <!-- RECEPE NAME -->
    <div>
      <p class="text-4xl font-bold mb-4">{{ data[0].name }}</p>
    </div>

    <!--RECIEPE IMAGE -->
    <div class="w-full max-w-lg">
      <img [src]="data[0]?.image" alt="Recipe Image" class="w-full h-auto object-cover rounded-lg shadow-md">
    </div>

    <!-- RECIEPE INFO -->
    <div class="border-l border-r border-b sm:w-[550px] mt-2">
      <div class="bg-amber-300 h-3"> </div>
      <div class="grid sm:grid-cols-3 grid-cols-2 gap-2.5 pl-2 mt-1">
        <div>
          <p class="text-[18px] font-bold">Prep Time:</p>
          <p class="font-semibold">{{data[0].prepTimeMinutes}}</p>
        </div>
        <div>
          <p class="text-[18px] font-bold">Cook Time:</p>
          <p class="font-semibold">{{data[0].cookTimeMinutes}}</p>
        </div>
        <div>
          <p class="text-[18px] font-bold">Servings:</p>
          <p class="font-semibold">{{data[0].servings}}</p>
        </div>
        <div>
          <p class="text-[18px] font-semibold">Calories Per Serving:</p>
          <p class="font-semibold">{{data[0].caloriesPerServing}}</p>
        </div>
      </div>
    </div>

    <!-- RECIPE Ingredients -->
    <div class="mt-6">
      <h1 class="text-4xl font-bold">Ingredients</h1>
      <ul class="list-disc flex flex-col gap-2 mt-2.5 pl-6 marker:text-yellow-500">
        <li *ngFor="let ingredient of data[0].ingredients" class="text-xl">
          {{ ingredient }}
        </li>
      </ul>
    </div>

    <!-- RECIEP Instructions -->
    <div class="mt-6">
      <h1 class="text-4xl font-bold text-center">Instructions</h1>
      <ul class="list-none flex flex-col gap-2 mt-4 pl-6 marker:text-yellow-500">
        <li *ngFor="let instruction of data[0].instructions; let i = index" class="text-xl text-justify w-[500px]">
          <span class="font-bold">Step {{ i + 1 }}:</span>  {{ instruction }}
        </li>
      </ul>
    </div>
  </div>
</div>
